body{
    align-items: center;
    background-color: rgb(1, 1, 25);
    font-family: "aktiv-grotesk", sans-serif;
    font-size: 14px;
    color: white;
    
    
}
#SmileSchool a{
    text-decoration: none;
    padding: 50px 50px;
}